body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    gap: 100px 10px;
    padding: 1000px 0 0 50px;

}

.children {
    width: 400px;
    height: 100px;
    border: 1px solid white;
    transition: .2s;
    cursor: pointer;
    
    /* animation: appear 5s linear; */
}

.children:hover {
    background-color: cyan;
    box-shadow : 0 0 40px yellow;
}

@keyframes appear {
    from {
        transform: translateX(-100%);
        opacity: 0;
        scale: 0.5;
    }
    
    to {
        transform: translateX(0);
        opacity: 1;
        scale: 1;
    }
}